<h2 style="text-align: center; padding-top: 1%; color: #003d73;">List of Managers</h2>
<div class="mat-elevation-z8">
    <div class="search">
        <mat-form-field appearance="standard">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search Managers">
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%; padding:1%;">
        <ng-container matColumnDef="managerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Manager Name</th>
            <td mat-cell *matCellDef="let element">{{ element.managerName }}</td>
        </ng-container>
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>
        <ng-container matColumnDef="experience">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Experience</th>
            <td mat-cell *matCellDef="let element">{{ element.experience }}</td>
        </ng-container>
        <ng-container matColumnDef="project">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Project</th>
            <td mat-cell *matCellDef="let element">{{ element.project }}</td>
        </ng-container>
        <ng-container matColumnDef="employees">
            <th mat-header-cell *matHeaderCellDef>Employees</th>
            <td mat-cell *matCellDef="let element">
                <button class="list-button" mat-button (click)="viewEmployees(element)">List of Employees</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="mat-paginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>